<div class="section">
      <div class="container">
        <div class="row" >
            <!--<h4 class="text-primary">Chọn đề thi:</h4>
            <select name="dethi" [(ngModel)]="namequiz" (ngModelChange)="chondethi()"  cols="30" rows="5">
                <option class="chondethi" value="">Chọn đề thi</option>
                <option class="chondethi" *ngFor="let quiz of quizs | async" [ngValue]="quiz.name" >{{quiz.name}}</option>             
            </select>-->

            <div class="list-group" *ngIf="mode=='listquiz'">
                <a class="list-group-item active">
                  Đề thi THPT Quốc gia  
                </a>
                <a style="cursor: pointer" class="list-group-item" *ngFor="let quiz of quizs | async" (click)="namequiz=quiz.name" (click)="chondethi()" >{{quiz.name}}</a>
                
            </div>
            
        </div>
    
        <div class="row" *ngIf="mode=='quiz'|| mode=='lambaithi'">
          <div  *ngFor="let dethi of dethi | async">
            <h3 class="text-primary">Đề thi {{dethi.name}}</h3>
            <table style="width: 30%" class="table table-responsive">
            <thead>
            <tr>
                <th>Tổng số câu hỏi</th>
                <th>{{dethi.totalquestion}}</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <th>Thời gian làm bài</th>
                <th><button>{{timerService.displayTime}}</button></th>
            </tr>
            </tbody>
            </table>
            <!--
            <h4>Tổng số câu hỏi: {{dethi.totalquestion}}</h4>
            <h4>Thời gian làm bài:  <button >  {{timerService.displayTime}}</button> </h4>         -->
            <div *ngIf="mode=='quiz'"><a  class="btn btn-primary" (click)='lambaithi()'>Bắt đầu thi</a></div>
          </div>
        </div>
        <div *ngIf="mode=='lambaithi'" class="row">

                        <div class="panel panel-primary" *ngFor="let question of questiones ; let i=index ">
                                <div class="panel-heading">
                                    <h4 > Câu hỏi {{question.index + 1}}: <h4 [MathJax] = "question.name"></h4></h4>
                                </div>
                                <div class="multiple_question">
                                    <label class="" [MathJax] = "question.A" >
                                        <input type="radio" name="question.name" value="question.A"  (click)="question.userAnswer=question.A" (click)="question.isAnswer=true" (click)="question.isAnswered='A'" /> 
                                    </label><br>
                                    <label class="" [MathJax] = "question.B">
                                        <input type="radio" name="question.name" value="question.B"  (click)="question.userAnswer=question.B" (click)="question.isAnswer=true" (click)="question.isAnswered='B'" />
                                    </label><br>
                                    <label class="" [MathJax] = "question.C">
                                        <input type="radio" name="question.name" value="question.C"  (click)="question.userAnswer=question.C" (click)="question.isAnswer=true" (click)="question.isAnswered='C'" />
                                    </label><br>
                                    <label class="" [MathJax] = "question.D">
                                        <input type="radio" name="question.name" value="question.D"  (click)="question.userAnswer=question.D" (click)="question.isAnswer=true" (click)="question.isAnswered='D'" />
                                    </label><br>
                                </div>
  
                                <!--<pagination-controls (pageChange)="page = $event"
                                        directionLinks="true"
                                        autoHide="true"
                                        previousLabel="Câu trước"
                                        nextLabel="Câu tiếp"
                                        screenReaderPaginationLabel="Pagination"
                                        screenReaderPageLabel="page"
                                        screenReaderCurrentLabel="You're on page">
                                </pagination-controls> | paginate: {itemsPerPage: 1, currentPage:page}-->
                                                               
                        </div>
                        
                   
                   <button class="btn btn-primary" (click)="xemlai()">Kết thúc làm bài</button>
               
      </div>
      <div *ngIf="mode=='review'" >
        <div  *ngFor="let dethi of dethi | async">
            <h3 class="text-primary">Đề thi {{dethi.name}}</h3>
            <table style="width: 30%" class="table table-responsive">
            <thead>
            <tr>
                <th>Tổng số câu hỏi</th>
                <th>{{dethi.totalquestion}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Thời gian làm bài</th>
                <th><button>{{timerService.displayTime}}</button></th>
            </tr>
            <tr>
                <th>Số câu đã trả lời </th>
                <th>{{answerCount}}</th>
            </tr>         
            <tr>
                <th>Số câu chưa trả lời</th>
                <th>{{dethi.totalquestion-answerCount}}</th>
            </tr>
            </tbody>
            </table>
        <!--<h4>Số câu đã trả lời: {{answerCount}}</h4>
        <h4>Số câu chưa trả lời: {{dethi.totalquestion-answerCount}}</h4>-->
        </div>
        
        <div class="panel panel-primary" >
                 <div class="panel-heading">
                    <h4> Bảng trả lời </h4>
                </div>
                <div class="table-answered" *ngFor="let question of questiones; let index = index;">
                    <div class="{{ question.isAnswer == true ? 'answered': 'not-answered' }}"><span>{{index + 1}}. {{question.isAnswered}}</span>
                    </div>
                </div>                   
        </div>
            <button class="btn btn-primary" (click)="mode='lambaithi'">Quay lại bài thi</button>
            <button class="btn btn-primary" (click)="nopbai()">Nộp bài và kết thúc</button>
      </div>    
      <!--<div class="row" *ngIf="review">
            <div class="col-sm-4" *ngFor="let question of questions; let index = index;">
            <div (click)="goTo(index)" class="{{ question.isAnswer == true ? 'answered': 'not-answered' }}">{{index + 1}}. {{question.isAnswer}}</div>
            </div>
      </div>-->

      <div *ngIf="mode=='result'" class="row">
          <h3 class="text-primary" *ngFor="let dethi of dethi | async">Kết quả đề thi {{dethi.name}}</h3>
          <table style="width: 30%" class="table table-responsive">
            <tbody>
            <tr>
                <th>Tổng số câu hỏi</th>
                <th>{{questiones.length}}</th>
            </tr>
            <tr>
                <th>Số câu trả lời đúng</th>
                <th>{{correctCount}}</th>
            </tr>
            <tr>
                <th>Bạn nhận được số điểm là</th>
                <th>{{grade.mark}}</th>
            </tr>                    
            </tbody>
            </table>
          <!--<h4>Tổng số câu hỏi: {{questiones.length}}</h4>
          <h4>Số câu trả lời đúng: {{correctCount}}</h4>
          <h4>Bạn nhận được số điểm là: {{grade.mark}}</h4>-->

            <div class="panel panel-primary" *ngFor="let question of questiones ; let i=index ">
                                <div class="panel-heading">
                                    <h4> Câu hỏi {{question.index + 1}}:  <h4 [MathJax] = "question.name"></h4></h4>
                                </div>
                                <div class="multiple_question">
                                    <label class="" >
                                        <input type="radio" disabled="disabled" /> A. <h4 [MathJax] = "question.A"></h4>
                                    </label><br>
                                    <label class="" >
                                        <input type="radio" disabled="disabled"/> B. <h4 [MathJax] = "question.B"></h4>
                                    </label><br>
                                    <label class="" >
                                        <input type="radio" disabled="disabled"/> C. <h4 [MathJax] = "question.C"></h4>
                                    </label><br>
                                    <label class="" >
                                        <input type="radio" disabled="disabled"/> D. <h4 [MathJax] = "question.D"></h4>
                                    </label><br>
                                </div>

                                <div class="alert {{ isCorrect(question) == 'Câu trả lời đúng'? 'alert-success': 'alert-danger'}}">{{isCorrect(question)}}.</div>
  
                                <!--<pagination-controls (pageChange)="page = $event"
                                        directionLinks="true"
                                        autoHide="true"
                                        previousLabel="Câu trước"
                                        nextLabel="Câu tiếp"
                                        screenReaderPaginationLabel="Pagination"
                                        screenReaderPageLabel="page"
                                        screenReaderCurrentLabel="You're on page">
                                </pagination-controls> | paginate: {itemsPerPage: 1, currentPage:page}-->
                                <!--<div  class="{{ question.isAnswer == true ? 'answered': 'not-answered' }}">{{i}}. {{question.option}}</div>-->
                                                               
                        </div>

          <button class="btn btn-primary" (click)="mode='listquiz'">Thi tiếp</button>
      </div>

      
</div>
